
*{
  font-family: 'Montserrat', sans-serif;
}
.container h2{
    text-align: center;
    background-color: rgb(238, 255, 0);
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
}

.welcome h2{
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgb(130, 205, 223);
  border-radius: 10px;
}


h3{
  margin: 28px;
  padding: 5px;
  text-align: center;
  background-color: rgba(230, 230, 136, 0.945);
  border-radius: 10px;
}


.form-control{
  height: 40px;
  width: 250px;
}
